---
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// Copyright © 2024 RemasteredArch
//
// This file is part of `remasteredarch.net`.
//
// `remasteredarch.net` is free software: you can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License as published by the Free Software Foundation, either
// version 3 of the License, or (at your option) any later version.
//
// `remasteredarch.net` is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
// PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License along with
// `remasteredarch.net`. If not, see <https://www.gnu.org/licenses/>.

import type { AuthorList } from "./ResolveAuthors.astro";

interface Props {
    authors: AuthorList;
}

const { first, middle, last } = Astro.props.authors;
---

<address><a href={first.link}>{first.name}</a></address>{middle.length > 0 && <span>, </span>}{
    middle.map((author) => (
        <address>
            <a href={author.link}>{author.name}</a>,
        </address>
    ))
}{
    last && (
        <address>
            and <a href={last.link}>{last.name}</a>
        </address>
    )
}

<style>
    address {
        display: inline;
        font-style: inherit;
    }
</style>
