---
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// Copyright © 2024-2026 RemasteredArch
//
// This file is part of `remasteredarch.net`.
//
// `remasteredarch.net` is free software: you can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License as published by the Free Software Foundation, either
// version 3 of the License, or (at your option) any later version.
//
// `remasteredarch.net` is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
// PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License along with
// `remasteredarch.net`. If not, see <https://www.gnu.org/licenses/>.

import type { CollectionEntry } from "astro:content";
import BlogIcon from "./icons/BlogIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import WebsiteIcon from "./icons/WebsiteIcon.astro";
import { IsoDateTime } from "./Time";

interface Props {
    project: CollectionEntry<"projects">;
}

const {
    title,
    description,
    first_commit: raw_first_commit,
    links: raw_links,
} = Astro.props.project.data;

const first_commit = new IsoDateTime(raw_first_commit.iso, raw_first_commit.timeZone);

const icon_map = {
    "blog post": BlogIcon,
    git: GitIcon,
    website: WebsiteIcon,
};

const links = raw_links.map(({ type, url }) => {
    return { Icon: icon_map[type], url };
});
---

<li class="card">
    <h4>{title}</h4>
    <p>{description}</p>
    {/* E.g., `"First commit on 2024-10-18"` */}
    <small>
        First commit on
        <time datetime={first_commit.toString()}>{first_commit.getDate()}</time>
    </small>
    <ul>
        {
            links.map(({ Icon, url }) => (
                <li>
                    <a href={url}>
                        <Icon />
                    </a>
                </li>
            ))
        }
    </ul>
</li>

<style>
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: start;
        row-gap: 1rem;
        padding: 1.5rem;

        width: 100%;
        max-width: 35ch;
        border-radius: 1rem;
        border-bottom: 1px solid var(--color-overlay-1);
    }

    h4 {
        align-self: center;
        text-align: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        align-content: start;
        justify-content: start;
        gap: 1rem;

        width: 100%;
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
    }
</style>
